#game {
    display: none;
}

#ships-tray {
    background-color: lightblue;
    height: 48px;
}

.tray-element {
    height: 100%;
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 320px;
    gap: 1px;
    height: 320px;
    margin-bottom: 32px;
}

.cell {
    border: 1px solid black;
}

.marked {
    background-color: #62bae3;
}

.can-place {
    background-color: lightgreen;
}

.cant-place {
    background-color: lightcoral;
}

.ship {
    background-color: gray;
}

.sunk {
    background-color: red;
}